.welcome {
    font-size: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.introMe {
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    padding-left: 500px;
    padding-top: 150px;
}

.introSite {
    font-size: 18px;
    font-weight: 200;
    padding-top: 180px;
}

.quote {
    font-size: 28px;
    font-weight: 400;
    padding-top: 180px;
}

.quoteperson {
    font-size: 16px;
    font-weight: 300;
}

.profile {
    display: inline-block;
    width: 340px;
    height: 340px;
    border-radius: 50%;

    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 

    user-select:none;

    position: absolute;
    left: 100px;
    top: 650px;
}

.AboutMeTab {
    text-align: left;
    width: 650px;
    padding-left: 30%;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 6%;
}

.AboutMeTab p {
    padding: 5px;
    letter-spacing: 1px;
    font-weight: 400;
}