.App {
  text-align: center;
  background-color:  rgb(160, 180, 255);
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  position: absolute;
  top: 0px;
  flex-direction: column;
  
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.title {
  font-size: 26px;
  align-items: center;
  cursor: default;
}

.headerLinks {
  position: absolute;
  top: 40px;
  right: 100px;
}

.body {
  padding-top: 120px;
}

footer {
  position: relative;
  bottom: 0px;
  height: 40px;  
  width: 100%;
  background-color: #282c34;
  margin-top: 180px;
  padding-top: 20px;
}